<app-menu-title></app-menu-title>
<div class="container__articles">
   <div class="articles__main">
     <app-big-card
     Id="1" 
     photocover="https://i.pinimg.com/236x/bd/8f/25/bd8f255968d23b1d23f1800e5f986ab9.jpg"
     cardTitle="Anakin e a partida de Ashoka..."
     cardDescription="Todos os acontecimentos antes e depois da saida de Ashoka da ordem de jedi. Levaram a queda de Anakin, melhor, Lord Vader"
     
     >
     </app-big-card>
   </div>
   <div class="articles__other">
     <app-small-card
     Id="2"
     photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHyqyCj0zCGtBLsg6rfT5lO6cz8NA0AHfJ_Q&usqp=CAU"
     cardTitle="Lord mini Vader"
     >

     </app-small-card>
     <app-small-card
     Id="3"
     photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1FfHnndXeXTzG6NKWG6rJIKFr58pVomrSyA&usqp=CAU"
     cardTitle="Azul?!"
     >

     </app-small-card>
     <app-small-card
     Id="4"
     photoCover="https://i.pinimg.com/474x/f6/49/8e/f6498e37ea422d01ef4458fede425c5a.jpg"
     cardTitle="Zed diz: A lamina que não se vê é a mais mortal"
     >

     </app-small-card>
   </div>

</div>